.geek-layout {
  height: 100%;
  overflow: hidden;
  .ant-layout-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  .ant-menu.ant-menu-dark {
    .ant-menu-item {
      padding-left: 50px;
    }
    .ant-menu-item-selected {
      background: #048;
    }
  }
  .ant-layout-content {
    height: 100%;
    overflow-y: auto;
  }
  .logo {
    width: 100%;
    height: 64px;
    color: #f8f8f8;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 5px #f8f8f8;
    line-height: 64px;
    letter-spacing: 0.2em;
    transform: skew(-10deg);
    margin-bottom: 20px;
    user-select: none;
  }
}
